body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.genresPage h2{
    color: white;
}
.inerGenres{
    position: relative;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

.textInGenres{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.shadeGenres{
    filter: brightness(0.7);
}
.inerGenres:hover{
    transform: scale(1.2);
    z-index: 2;
}