body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.genresBox{
    position: relative;
    text-align: center;
}
.textInGenres{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.shadeGenres{
    filter: brightness(0.7);
}
